@page
@model HimalayanLogistics.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
    </dl>
</div>

@if (Model.Customer.Shipments.Any())
{
         <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Your Orders
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].ShipmentStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].ShipmentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].ShipmentNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].PickupLocation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].Destination)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].Customer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].PaymentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.Shipments[0].DeliveryTrackingId)
                            </th>
                            </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Customer.Shipments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipmentStartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipmentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipmentNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickupLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryTrackingId)
                                </td>
                              
                            </tr>
                        }             
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

else
{
    <div class="alert alert-warning">No candidates exist</div>
}
    

@if (Model.Customer.Payments.Any())
{
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
        Your Payments      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
	<table class="table">
    <table class="table table-bordered">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].PaymentMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Payments[0].Shipment)
            </th>
      
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Customer.Payments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipment.ShipmentNumber)
            </td>
             </tr>}
		</tbody>
	</table>
    </div>
      </div>
    </div>

}

else
{
    <div class="alert alert-warning">No Payments exist</div>
}

<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.CustomerId" class="btn btn-dark mt-3">Edit</a> |
    <a asp-page="./Index" class="btn btn-dark mt-3">Go Back</a>
</div>